body,
html {
    height: 100%;
    background-image: url(https://th.bing.com/th/id/R.f27dd3b85188a0e950159f7de5b1a30e?rik=sKqNdLzOI1uAOg&pid=ImgRaw);
    height: 100%;
    background-position: center;
    background-size: cover;
}
