    html body {
        background-image: url("https://th.bing.com/th/id/OIP.Xw8l23BiFRxXwdUUITvMFAHaEK?pid=ImgDet&rs=1");
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    h1 {
        color: #7c795d;
        font-family: 'Trocchi', serif;
        font-size: 45px;
        font-weight: normal;
        line-height: 48px;
        margin: 0;
    }
    
    p {
        color: #111;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-weight: 5;
        text-align: center;
    }
    
    div {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    
    a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    a {
        float: left;
    }