body,
html {
    height: 100%;
    background-image: url("https://st2.depositphotos.com/9527076/12336/i/450/depositphotos_123360624-stock-photo-fitness-workout-background-dumbbells-on.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

a {
    float: left;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.show {
    display: block;
}

#title {
    font-size: 50px;
    color: red;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
    margin-left: 50px;
    margin-top: 50px;
}

#p1 {
    color: blue;
    font-size: 20px
}

.sub-menu {
    left: 0px;
    position: absolute;
    width: 100%;
    z-index: 100;
    display: none;
    -webkit-box-pack: center;
    justify-content: center;
    height: 150px;
    background: #313443;
    border-bottom: 1px solid #7b7f92;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

body {
    min-height: 100vh;
    margin: 0 1rem;
}

h1 {
    text-transform: lowercase;
    color: dimgrey;
    padding: 3rem 0;
}

input {
    margin-bottom: 2rem;
    font-family: inherit;
    border-radius: 50px;
    padding: .5rem;
    width: 500px;
    outline: none;
    font-size: 2rem;
    border: 2px solid rgb(253, 253, 253);
    color: #0B4268;
    transition: all .3s ease;
}

input:focus {
    border: 2px solid #61DAFB;
}

#results {
    display: flex;
    flex-wrap: wrap;
}

.book-item {
    border-radius: 25px;
    background: linear-gradient(90deg, #61DAFB 0%, rgb(10, 167, 211) 100%);
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    padding: 0.3rem;
    width: 380px;
    margin: .3rem auto;
    color: #333
}

.book-name {
    flex: 2;
    margin: 0 5px;
    text-align: center;
}

.book-info {
    border-left: 1px solid #333;
    padding: 0 1rem;
    flex: 1;
    text-align: center;
}

h2 {
    font-size: 1.1rem;
}

h5 {
    font-size: .7rem;
    color: rgb(17, 80, 97);
}

#topic-summary {
    background-color: transparent;
}

#p2 {
    margin-top: 20px;
}

#p4,
#p5,
#p6,
#p7,
#p8,
#p9,
#p10,
#p11,
#p12,
#p13,
#p14,
#p15,
#p16,
#p17,
#p18,
#p19,
#p20 {
    font-variant: small-caps;
    font-size: large;
}

#p4,
#p5,
#p6,
#p7,
#p8,
#p9,
#p10,
#p11,
#p12,
#p13,
#p14,
#p15 {
    margin-top: 20px;
}

#p16,
#p17,
#p18,
#p19,
#p20 {
    margin-top: 20px;
}

#p3 {
    margin-top: 20px;
    font-size: large;
}